body{
    background-color: rgb(236, 234, 234);
}
.container {
    padding: 5px;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 5px;
}
.box{
    margin: 10px;
    height: 50px;
    padding: 15px;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 5px;
    margin-bottom: 10px;
}

.rbox{
    margin: 10px;
    height: 25px;
    padding: 10px;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 5px;
    margin-bottom: 10px;
}

.button {
    width: 70px;
    float: right;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button {
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}